.input-container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 15rem;
}

.input-container > * {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.todo-container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}